<footer>
    <div class="f_info">
        <div class="f_info_socials">

        </div>
        <div>kholi dekho.com</div>
        <div class="f_info_links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>

</footer>
